<!DOCTYPE html>
<html>
<head>
    <title>Crop Price EDA</title>
</head>
<body>
    <h1>Crop Price Prediction - EDA</h1>
    <ul>
        <li><a href="/stats">Summary Statistics</a></li>
        <li><a href="/histograms">Histograms</a></li> 
        <li><a href="/boxplots">Box Plots</a></li>
        <li><a href="/categorical_analysis">Categorical Analysis</a></li>
        <li><a href="/bivariate_analysis">Bivariate Analysis</a></li>
        <li><a href="/heatmaps">Heatmaps</a></li> 
        <li><a href="/predict">Make a Prediction</a></li>
    </ul>
</body>
</html>
